<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alipay</key>
	<dict>
		<key>appScheme</key>
		<string></string>
		<key>privateKey</key>
		<string></string>
		<key>paytime</key>
		<string></string>
		<key>notifyUrl</key>
		<string></string>
		<key>seller</key>
		<string></string>
		<key>partnerid</key>
		<string></string>
	</dict>
	<key>weixin</key>
	<dict>
		<key>appid</key>
		<string></string>
		<key>desc</key>
		<string></string>
		<key>mch_id</key>
		<string></string>
		<key>mch_key</key>
		<string></string>
		<key>notifyUrl</key>
		<string></string>
	</dict>
</dict>
</plist>
